groq==1.2.0
python-dotenv==1.2.2
faster-whisper==1.2.1
edge-tts==7.2.8
keyboard==0.13.5
sounddevice==0.5.5
numpy==2.4.4
openwakeword==0.6.0
onnxruntime==1.26.0
pygame==2.6.1
ddgs==9.14.2
pytest==9.0.3
psutil==7.2.2
tzdata==2026.2
httpx==0.28.1
discord.py-self[voice]==2.1.0
plyer==2.1.0
pycaw==20251023
comtypes==1.4.16
mss==10.2.0
pyperclip==1.11.0
pywebview==6.2.1
